<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content" style="padding: 10%">

<div class="d-flex mb-3" style="box-shadow: 2px 10px 40px">
    <div class="p-2 flex-fill" id="left-side-login">
        <form method="post">
            <h4><img th:src="@{/images/journalblue.png}" alt="Icon" width="40px" height="40px"
                     style="float: left"></h4><br><br>
            <h3>Log In</h3>
            <div class="form-group">
                <label th:for="username">
                    <input class="form-control" th:field="${loginFormDTO.username}" placeholder="Username">
                </label>
                <p class="error" th:errors="${loginFormDTO.username}" style="color:red;"></p>
            </div>
            <div class="form-group">
                <label>
                    <input class="form-control" th:field="${loginFormDTO.password}" type="password" placeholder="Password">
                </label>
                <p class="error" th:errors="${loginFormDTO.password}" style="color:red;"></p>
            </div>
            <br>
            <input type="submit" class="btn btn-success" style="border-radius: 100px; width: 125px;" value="Log In" />
        </form>
    </div>
    <div id="right-side-login" class="p-2 flex-fill">
        <h2 style="padding:15%">Hello Friend!</h2>
        <p>Enter your details to start<br>your journey with us.</p>
        <a href="/register">
            <button class="rounded-button btn btn-outline-secondary" type="submit">Sign Up</button>
        </a>
    </div>
</div>

</body>
</html>
