<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header>
    <div th:replace="fragments :: icon"></div>
    <div th:replace="fragments :: dropdown-navi"></div>
</header>
<body>
<h1 align="center">Uh-oh something went wrong</h1>

<img class="not-ready" src="https://th.bing.com/th/id/R.af22139e53f33174ff1905663980764f?rik=uOyKMvDnmYzRKQ&riu=http%3a%2f%2fwww.wallpaperup.com%2fuploads%2fwallpapers%2f2014%2f09%2f25%2f455938%2faf22139e53f33174ff1905663980764f.jpg&ehk=J9hEIE63ZUl5TIouKcbLNM5DudmimhjzzEiMR%2fc6pMw%3d&risl=&pid=ImgRaw&r=0">

</body>
</html>
