<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h2 class="text-center">Event Board</h2>
<nav th:replace="fragments :: nav-list"></nav>
<link th:href="@{/css/toggle.css}" rel="stylesheet" />
<link rel="stylesheet" href="liftstyle.css">

<!--TODO: Make it able for user to add an image-->
<!--TODO: If we have extra time after MVP achieved, show "Posted: 10 days ago" instead of date-->

<div class="row">
    <div th:each="event : ${events}" class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" th:text="${event.title}"></h4>
                <p th:text="'Topic: ' + ${event.topic.name}"></p>
                <p th:text="${event.description}"></p>
                <p th:text="'Posted: ' + ${event.date}"></p>
            </div>
            <img class="card-img-bottom" src="https://www.w3schools.com/bootstrap5/img_avatar5.png" alt="Image">
            <div class="rating">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
