<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    //viewport  is the user's visible area of a web page
    //The width=device-width part sets the width of the page to follow the screen-width of the device
    //The initial-scale=1.0 part sets the initial zoom level when the page is first loaded by the browser
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiftStyle Notification</title>
</head>
<body>
    <div class="container">
        <h1>LiftStyle Notification</h1>
        //error message will appear if notification permission is not granted
        <div class="error"></div>
    </div>
    <script src="notification.js"></script>
</body>
</html>
