form {
	&#smileys {
		input[type="radio"] {
			-webkit-appearance: none;
			width: 90px;
			height: 90px;
			border: none;
			cursor: pointer;
			transition: border .2s ease;
			filter: grayscale(100%);
			margin: 0 5px;
			transition: all .2s ease;

			&:hover, &:checked {
				filter:	grayscale(0);
			}

			&:focus {
				outline: 0;
			}

			&.happy {
				background: url('/images/happy.svg') center;
				background-size: cover;
			}

			&.neutral {
				background: url('/images/neutral.svg') center;
				background-size: cover;
			}
			&.sad {
				background: url('/images/sad.svg')center;
				background-size: cover;
			}
		}
	}
}
